{% extends 'on_boarding/base.html.twig' %}
{% trans_default_domain 'on-boarding' %}

{% block content %}
    <p class="govuk-body">{{ "#{translation_prefix}.help" | trans | nl2br }}</p>
    {{ form(form) }}
{% endblock %}
