{% extends 'interviewer/dashboard/base.html.twig' %}
{% trans_default_domain 'interviewer' %}

{% set title_translation_key = "diary-state.discard.page-title" %}
{% set heading_class = "govuk-heading-xl" %}
{% set breadcrumb_translation_parameters = {
    diary_keeper_name: diaryKeeper.name,
} %}
{% set household = diaryKeeper.household %}
{% set areaPeriod = household.areaPeriod %}

{% block content %}
    <p class="govuk-body govuk-!-margin-bottom-6">
        {{- 'diary-state.discard.copy' | trans | nl2br -}}
    </p>
    {{ form(form) }}
{% endblock %}