{% extends "interviewer/training/base.html.twig" %}
{% trans_default_domain "interviewer" %}
{% set title_translation_key = "training.dashboard.page-title" %}
{% set title_translation_parameters = {
    'name': app.user.interviewer.name
} %}

{% block content %}
    <div class="prose-scope govuk-!-margin-bottom-7">
        {{- 'training.dashboard.introduction' | trans({hotspotInstructionsUrl: path('interviewer_docs_hotspot')}) | markdown_to_html -}}
    </div>

    {%- from 'interviewer/training/macros.html.twig' import trainingRecordsTable -%}
    {{- trainingRecordsTable(trainingRecords) -}}
{% endblock %}
