<div class="prose-scope">
{%- apply markdown_to_html -%}
Now that you’ve finished checking and editing a diary, please watch this video to see how Mary’s travel diary should
have been corrected.

## How you **should** have corrected your diary
{% endapply %}
</div>

{% from 'interviewer/training/macros.html.twig' import trainingVideo %}
{{ trainingVideo('842537965/269e2f450a', 'How you should have corrected your diary', trainingRecord) }}
