<div class="prose-scope">
{%- apply markdown_to_html -%}
Once a household has agreed to complete travel diaries, they need to be entered into the digital system, or ‘onboarded’.
This will involve setting up a household in the correct area, then adding each member of the household.

This exercise is to be completed during your NatCen fieldwork briefing.{%- endapply -%}
</div>

{% from 'interviewer/training/macros.html.twig' import trainingVideo %}
{{ trainingVideo('842537120/87f0756ee3', 'Onboarding a household', trainingRecord) }}
