<div class="prose-scope">
{%- apply markdown_to_html -%}
Once a household has agreed to complete digital travel diaries, you first need to onboard them onto the system. For
this process, you will need a set of passcodes from the NatCen CAPI system.

This module is to be completed during your NatCen Briefing. Please do not attempt to complete this exercise at home.

You need to enter the passcodes below into the fields on the next screen.

{%- endapply -%}
</div>
{% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow %}
<dl class="govuk-summary-list">
    {{ actionlessSummaryListRow('First passcode', passcode1 | format_otp, {html: true}) }}
    {{ actionlessSummaryListRow('Second passcode', passcode2 | format_otp, {html: true}) }}
</dl>

<div class="govuk-button-group"><a class="govuk-button" href="{{ practicalUrl }}">Access onboarding training</a></div>
