<div class="prose-scope">
{%- apply markdown_to_html -%}
As part of your training, you must understand the National Travel Survey and the Travel Diary each householder is
asked to fill in. Therefore, for this module, you are required to record a week-long travel diary.

For this module, you should:

- Complete a full travel diary as if you were a household respondent
- Make sure you understand the guidance for keeping a travel diary, including specific instructions such as recording short walks on Day 1 (i.e. walks under 1 mile)
- Make sure you understand the most common issues and errors with diary keeping

<div class="govuk-button-group"><a class="govuk-button" href="{{ practicalUrl }}">Access personal travel diary</a></div>

This exercise should take 7 days.
{%- endapply -%}
</div>