<div class="prose-scope">
{%- apply markdown_to_html -%}
In this module, you are required to watch several introduction videos. These videos will help you understand your
Interviewer dashboard as well as how to onboard a household and correct travel diaries. Please watch each video
carefully.
{%- endapply -%}
</div>

<div class="govuk-tabs" data-module="govuk-tabs" id="diary-keepers">
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import tabsHead %}
    {{ tabsHead({
        'Introduction': 'tab-video-1',
        'Onboarding': 'tab-video-2',
        'Editing diaries': 'tab-video-3',
    }) }}

    {% from 'interviewer/training/vimeo-container.html.twig' import videoContainer %}

    <div class="govuk-tabs__panel" id="tab-video-1">
        <h2 class="govuk-heading-m">Introducing the dashboard</h2>
        {{ videoContainer('806828179/00beae502e', 'Introducing the dashboard') }}
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-video-2">
        <h2 class="govuk-heading-m">Onboarding a household</h2>
    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-video-3">
        <h2 class="govuk-heading-m">Impersonating and editing diaries</h2>
        {{ videoContainer('715584858/a79e20e754', 'Impersonating and editing diaries') }}
    </div>
</div>
