{%- extends 'on_boarding/base.html.twig' -%}

{%- trans_default_domain 'on-boarding' -%}
{%- set translation_prefix = "submit" -%}

{%- block content -%}
    <p class="govuk-body">{{ 'submit.intro' | trans }}</p>

    {% from 'on_boarding/macros.html.twig' import showHouseholdDetails, showHouseholdVehicles %}
    {{ showHouseholdDetails({showActions: false}) }}
    {% include 'on_boarding/submit/include/diary_keepers_summary.html.twig' %}
    {% include 'on_boarding/submit/include/vehicles_summary.html.twig' %}

    {{ form(form) }}
{%- endblock -%}