@import "common/container";

body {
    background-color: lightgray;
}

.govuk-table__cell-no-bottom-border {
    border-bottom-color: transparent;
}

.video-container, {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    > iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.diary-keeper-view .govuk-table__header {
    overflow-wrap: normal;
}

.header-with-following-tag {
    > h1 {
        @include govuk-responsive-margin(3, "bottom");

        + .govuk-tag {
            @include govuk-responsive-margin(6, "bottom");
        }
    }
}

.fieldset--share-stage-details {
    > legend {
        @include govuk-responsive-margin(3, "bottom");
    }
}

.nts-interviewer-household-compare {
    main {
        padding-top: govuk-spacing(2);
    }

    #day-links li {
        @include govuk-font(14);

        span {
            @include govuk-font(14, bold);
        }
    }

    .govuk-tabs__list-item {
        @include govuk-font(16);
    }

    .govuk-tabs__panel {
        padding-top: govuk-spacing(1);
        padding-bottom: govuk-spacing(1);
    }

    .govuk-table__header {
        @include govuk-font(14, bold);
    }

    .govuk-table__cell {
        @include govuk-font(14);
    }
    .govuk-tag {
        font-size: 0.9em;
        //@include govuk-font(14, bold);
    }

    .govuk-table__cell, .govuk-table__header {
        &.govuk-visible-from-wide {
            display: none;
        }
        &.govuk-hidden-from-wide {
            display: table-cell;
        }

        @include govuk-media-query($from: 1400px) {
            &.govuk-visible-from-wide {
                display: table-cell;
            }
            &.govuk-hidden-from-wide {
                display: none;
            }
        }

    }
    .nowrap {
        white-space: nowrap;
    }
}