{% extends "interviewer/dashboard/base.html.twig" %}

{% trans_default_domain "interviewer" %}
{% set title_translation_key = "survey-areas.page-title" %}
{% set title_translation_parameters = {
    'name': app.user.interviewer.name
} %}

{% block content %}
    {%- import "interviewer/dashboard/macros.html.twig" as d -%}

    {{- d.areaPeriodList(
        areaPeriods,
        "survey-areas.current.title" | trans,
        "survey-areas.current.no-areas" | trans
    ) -}}

    <p class="govuk-body">
        <a class="govuk-link" href="{{ path('interviewer_dashboard_archived_areas') }}">{{ 'survey-areas.view-archived' | trans }}</a>
    </p>
{% endblock %}