@import "node_modules/govuk-frontend/govuk/helpers/colour";

.govuk-notification-banner--impersonation,
.govuk-notification-banner--interviewer-training {
  margin-bottom: 0;

  border-color: govuk-colour("orange");
  background-color: govuk-colour("orange");
}
