.govuk-fieldset--inline, .govuk-form-group--inline {
  margin-bottom: 10px;

  .govuk-form-group {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;

    .govuk-radios__item {
      margin-right: 30px;
      margin-bottom: 0;
    }

    .govuk-label {
      margin-bottom: 10px;
    }
  }
}

.govuk-fieldset--inline-narrow, .govuk-form-group--inline-narrow {
  .govuk-form-group {
    margin-right: 20px;
  }
}