{% extends 'admin/base.html.twig' %}

{% trans_default_domain translation_domain %}

{% block content %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, warningText     %}
    <div class="govuk-width-container">
        {{ warningText((translation_prefix ~ '.warning')|trans(translation_parameters)) }}
        {{ form(form) }}
    </div>
{% endblock %}
