{% trans_default_domain 'travel-diary' %}
{%- from "@GhostGovUkFrontend/components/macros.html.twig" import details-%}
{% set htmlContent %}
    <p class="govuk-body">{{ 'day.practice.help-details.content' | trans }}</p>
    {% from 'macros/vimeo-container.html.twig' import videoContainer %}
    {{ videoContainer(vimeo_ids.diary_keeper_help, 'day.practice.help-details.text' | trans) }}
{% endset %}
{{ details({
    summaryText: 'day.practice.help-details.text' | trans,
    html: htmlContent,
}) }}
