{% extends 'base.html.twig' %}

{% set title_translation_key = 'feedback.form.page-title' %}
{% set title_translation_parameters = {
    category: form.vars.data.category.value
} %}
{% set heading_class = "govuk-heading-xl" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ form(form) }}
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
    {% set notes = 'feedback.form.notes' | trans(title_translation_parameters) %}
    {% if notes ?? false %}
        <p class="govuk-body">{{ notes }}</p>
    {% endif %}
{% endblock %}
